.background{
    background: #f9f9f9 none;
}

.close-button{
    align-self: start;
}

.head_panel{
    margin-top: 25px;
    padding: 25px;
}


.main_block{
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: all .2s ease-in-out;
}

.main_block:hover {
    -webkit-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
}

.head_panel:hover{
    -webkit-transform: none;
    transform: none;
}

.avatar {
    width: 65px;
    height: 65px;
    border-radius: 155px;
    overflow: hidden;
    object-fit: cover;
}
img.avatar_size{
    width: 65px;
}

.create_diagramm{
    margin: 10px 0;
}

.logout{
    text-align: center;
}

.diagram_list{
    margin: 0;
}

.tile{
    padding: 0px;
    margin-top: 30px;
}

.diagram_title_block{
    padding: 16px 0;
    margin: 0;
}

.diagram_img_block{
    height: 150px;
}

.diagram_img{
    object-fit: cover;
    object-position: 50% 0;
    height: 150px;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.diagram_title{
    display: block;
    color: #343a40;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    padding: 0 0 2em 2em;
    word-break: break-all;
    overflow-wrap:break-word;
}

.no_diagrams_title{
    height: 400px;
    width: 100%;
}

.rename_diagramm_button{
    padding: 0;
    background-color: transparent;
    border: 0;
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
}

.rename_diagramm_icon{
    height: 32px;
    width: 17px;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    background: url('./icons/edit.svg') no-repeat center;
}